<header class="relative">
    <img alt="Platter of fresh sashimi with various types of fish" class="w-full h-screen object-cover" src="/Acssets/image/SSM.jpg"/>
    <nav class="absolute top-0 left-0 w-full flex justify-end p-4 text-white">
        <ul class="flex space-x-6">
            <li><a class="hover:underline" href="#">TRANG CHỦ</a></li>
            <li><a class="hover:underline" href="#">THỰC ĐƠN</a></li>
            <li><a class="hover:underline" href="#">KHUYẾN MẠI</a></li>
            <li><a class="hover:underline" href="#">LIÊN HỆ</a></li>
            <li class="flex items-center space-x-2">
                <a class="hover:underline" href="login.html">Đăng nhập</a>
                <span>|</span>
                <a class="hover:underline" href="register.html">Đăng ký</a>
                <span>|</span>
            </li>
        </ul>
    </nav>
    <div class="absolute top-1/4 left-1/4 text-white text-center">
        <h1 class="text-6xl">Chào Mừng Đến Với Nhà Hàng</h1>
        <p class="text-2xl mt-4">Thưởng thức ẩm thực tuyệt vời!</p>
    </div>
</header>